<section class="special-offers">
    <h3 class="section__title"><%= sliderTitle %></h3>
    <!-- Product Slider -->

    <div class="gallery productSlider js-flickity"
    data-flickity-options='{ "wrapAround": true }' >
        <% sliderProducts.forEach(product => { %>
            <div class="carousel-cell  productSlide">
                <a href="/productos/<%- product.id %>">
                    <div class="productDiscount"><%- product.discount %>% OFF</div>
                    <div class="imageFrame"><img src="/images/productos/<%- product.img[0] %>" alt="" class="sliderImg"></div>
                    <p class="productName"><%- product.name %></p>
                    <h4 class="productPrice">$<%- product.price %></h4>
                </a>
            </div>
        <% }) %>
    </div>
</section>