<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs')  %> 
<body class="register-body">
    <header>
        
        <!-- Container izquierdo -->
        <div class="left-container">
            <a href="/"><img src="/images/header/Logo.jpeg" alt="Logo"></a>
            
        </div>
    </header>
    
    <main class="register-main">
        <form action="/users/register" method="POST">
            <div class="container">
                <h1>Registro</h1>
                <hr>
                    <label for="text"><b>Nombre</b></label>
                    <div class="containerInput div-name">
                <input type="text" placeholder="Ingrese su nombre" name="name" id="firstName" value="<%= locals.old && old.name %>">
                <i class="fas fa-info-circle"></i><i class="fas fa-check-circle"></i>
                <small id="error-firstName" class="text-danger"></small>
                <% if (locals.errors && errors.name) { %>
                    <small class="text-danger"><%= errors.name.msg %> </small>
                <% } %> 
                </div>
                <br>
                <label for="text"><b>Apellido</b></label>
                <div class="containerInput div-lastName">
                <input type="text" placeholder="Ingrese su apellido" name="lastName" id="lastName" required>
                <i class="fas fa-info-circle"></i><i class="fas fa-check-circle"></i>
                <small id="error-lastName" class="text-danger"></small>
                <% if (locals.errors && errors.lastName) { %>
                    <small class="text-danger"><%= errors.lastName.msg %> </small>
                <% } %> 
                </div>
                <br>
                <label for="email"><b>Email</b></label>
                <div class="containerInput div-email">
                <input type="email" placeholder="Ingrese su Email" name="email" id="email" required>
                <i class="fas fa-info-circle"></i><i class="fas fa-check-circle"></i>
                <small id="error-email" class="text-danger"></small>
                <% if (locals.errors && errors.email) { %>
                    <small class="text-danger"><%= errors.email.msg %> </small>
                <% } %>
               </div>
                <br>
                <label for="psw"><b>Contrase単a</b></label>
                <div class="containerInput div-password1">
                <input type="password" placeholder="Ingrese su Contrase単a" name="password1" id="password1" >
                <i class="fas fa-info-circle"></i><i class="fas fa-check-circle"></i>
                <small id="error-password1" class="text-danger"></small>
                <% if (locals.errors && errors.password1) { %>
                    <small class="text-danger"><%= errors.password1.msg %> </small>
                <% } %>
            </div>
                <br>
                <label for="psw-repeat"><b>Repita su Contrase単a</b></label>
                <div class="containerInput div-password2">
                <input type="password" placeholder="Repita su Contrase単a" name="password2" id="password2" >
                <i class="fas fa-info-circle"></i><i class="fas fa-check-circle"></i>
                <small id="error-password2" class="text-danger"></small>
                <% if (locals.errors && errors.password2) { %>
                    <small class="text-danger"><%= errors.password2.msg %> </small>
                <% } %>
            </div>
            <br>
                
                <hr>
                
                <button  type="submit" class="register">Registrarse</button>
                
                
            </div>
            
        </form>
        
    </main>
    
    <%- include('../partials/footer.ejs')  %> 
    
    
    <script src="/javascripts/validations/register.js"></script>
</body>
</html>