<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs')  %> 
<body class="register-body">
    <header>
        
        <!-- Container izquierdo -->
        <div class="left-container">
            <a href="/"><img src="/images/header/Logo.jpeg" alt="Logo"></a>
            
        </div>
    </header>
    
    <main class="register-main">
        <form action="/users/register" method="POST">
            <div class="container">
                <h1>Registro</h1>
                <hr>
                
                <label for="email"><b>Nombre</b></label>
                <input type="text" placeholder="Ingrese su nombre" name="name" id="firstName" value="<%= locals.old && old.name %>">
                <% if (locals.errors && errors.name) { %>
                    <small class="texto invalido"><%= errors.name.msg %> </small>
                <% } %>



                <label for="text"><b>Apellido</b></label>
                <input type="text" placeholder="Ingrese su apellido" name="lastName" id="lastName" required>
                
                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Ingrese su Email" name="email" id="email" required>
                <% if (locals.errors && errors.email) { %>
                    <small class="texto invalido"><%= errors.email.msg %> </small>
                <% } %>
                <label for="psw"><b>Contrase単a</b></label>
                <input type="password" placeholder="Ingrese su Contrase単a" name="password1" id="password1" >
                
                <% if (locals.errors && errors.password1) { %>
                    <small class="small"><%= errors.password1.msg %> </small>
                <% } %>

                <label for="psw-repeat"><b>Repita su Contrase単a</b></label>
                <input type="password" placeholder="Repita su Contrase単a" name="password2" id="password2" >
                <% if (locals.errors && errors.password2) { %>
                    <small class="small"><%= errors.password2.msg %> </small>
                <% } %>
                
                <hr>
                
                <button  type="submit" class="register">Registrarse</button>
                
                
            </div>
            
        </form>
        
    </main>
    
    <%- include('../partials/footer.ejs')  %> 
    
    
    
</body>
</html>