<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')  %>
</head>
<body>
    <%- include('partials/adminHeader.ejs')  %>
    <main class="allProds">
        <div class="search-prod">
            <form action="">
                <input type="search" placeholder="Busca tu producto" name="search-all-prods">
            </form>
        </div>
        <a href="/adminProductos/cargaProducto"><button>Agregar</button></a>
        <section class="admin-prods">
            <% products.forEach(product => { %>
                <article class="admin-each-product">
                    <div>
                        <a href="/Productos/<%- product.id %>">
                            <img src="/images/productos/<%- product.img[0] %>" alt="">
                        </a>
                        <a href="/Productos/<%- product.id %>">
                            <h3><%= product.name %></h3>
                        </a>
                        <a href="/Productos/<%- product.id %>">    
                            <p class="prod-prod-price">$<%= product.price %></p>
                        </a>
                        <div class="edit-delete">
                            <a href="/adminProductos/editarProducto/<%- product.id %>"><button>Editar</button></a>
                            <form action="/adminProductos/eliminarProducto/<%- product.id %>?_method=DELETE" method="post">
                                <button type="submit" class="delete-prod">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </article>
                <% }) %>                
            </section>
        </main>
    </body>
    </html>