<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')  %> 
</head>
<body>
    <!-----------------------------------                Header              ------------------------------------------->
    <%- include('partials/adminHeader.ejs')  %>
    
    <!----------------------------------------  Carga de Productos  --------------------------------------------------------->
    <main>
        <h2 class="title-fcm">Formulario de Carga de Productos</h2>
        <form action="/adminProductos/cargaProducto" class="form-fcm" method="POST" enctype="multipart/form-data">
            <div class="categoryNPrice-fcm">
                <div class="category-fcm">
                    <label for="category" class="label-fcm">Categoría:</label>
                    <select name="category" id="" class="select-fcm border-fcm">
                        <% let categories = ["Freno","Neumático","Caño de Escape","Motor","Volante","Interior"] %>
                        <% categories.forEach(category => { %>
                            <option value=<%= category %> <%= locals.old && old.category == category ? "selected" : "" %> ><%= category %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="pricef-fcm">
                    <label for="price" class="label-fcm">Precio:</label>
                    <input type="number" name="price" id="" class="price-input-fcm border-fcm" value="<%= locals.old && old.price %>">
                    <% if (locals.errors && errors.price) { %>
                        <small class="small-red"><%= errors.price.msg %></small>
                    <% } %>
                </div>
                <div class="pricef-fcm">
                    <label for="discount" class="label-fcm">Descuento:</label>
                    <input type="number" name="discount" id="" class="discount-input-fcm border-fcm" value="<%= locals.old && old.discount %>">
                </div>
            </div>
            <div class="nameModelYear-fcm">
                <label for="name" class="label-fcm">Nombre del Producto:</label>
                <input type="text" name="name" id="" class="name-fcm border-fcm" value="<%= locals.old && old.name %>">
                <% if (locals.errors && errors.name) { %>
                    <small class="small-red"><%= errors.name.msg %></small>
                <% } %>
            </div>
            <div class="brandModelYear-fcm">
                <div class="brand-fcm">
                    <label for="brand" class="label-fcm">Marca</label>
                    <input type="text" name="brand" id="" class="select-fcm border-fcm" value="<%= locals.old && old.brand %>">
                    <% if (locals.errors && errors.brand) { %>
                        <small class="small-red"><%= errors.brand.msg %></small>
                    <% } %>
                </div>
                <div>
                    <label for="carModel" class="label-fcm">Modelo:</label>
                    <input type="text" name="carModel" id="" class="select-fcm border-fcm" value="<%= locals.old && old.carModel %>">
                    <% if (locals.errors && errors.carModel) { %>
                        <small class="small-red"><%= errors.carModel.msg %></small>
                    <% } %>
                </div>
                <div>
                    <label for="year" class="label-fcm">Año:</label>
                    <select name="year" id="" class="border-fcm">
                        <% for( let year = 2021; year > 1959; year-- ) { %>
                            <option value=<%= year %> <%= locals.old && old.year == year ? "selected" : "" %>><%= year %> </option>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="photoFormulary-fcm">
                <label for="img" class="label-fcm">Foto:</label>
                <input type="file" name="img" id="" class="border-fcm" aria-label="file example" id="inputImage" multiple>
            </div>
            <div class="description-fcm">
                <label for="description" class="label-fcm">Descripción:</label>
                <textarea name="description" id="" class="textarea-description-fcm border-fcm"><%= locals.old && old.description %></textarea>
                <% if (locals.errors && errors.description) { %>
                    <small class="small-red"><%= errors.description.msg %></small>
                <% } %>
            </div>
            <div class="colorDelIzq-fcm">
                <div>
                    <label for="color" class="label-fcm">Color:</label>
                    <select name="color" id="" class="border-fcm">
                        <% let colors = ["no","Blanco","Negro","Azul","Rojo","Verde","Plateado"] %> 
                        <% colors.forEach(color => { %>
                            <option value=<%= color %>  <%= locals.old && old.color == color ? "selected" : "" %>><%= color %></option>
                        <% }) %>
                    </select>
                </div>
                <div>
                    <label for="frontback" class="label-fcm">Del/Tras/No:</label>
                    <select name="frontback" id="" class="border-fcm">
                        <% let frontbacks = ["no","Delantero","Trasero"] %> 
                        <% frontbacks.forEach(frontback => { %>
                            <option value=<%= frontback %>  <%= locals.old && old.frontback == frontback ? "selected" : "" %>><%= frontback %></option>
                        <% }) %>
                    </select>
                </div>
                <div>
                    <label for="leftright" class="label-fcm">Izq/Der/No:</label>
                    <select name="leftright" id="" class="border-fcm">
                        <% let leftrights = ["no","Izquierdo","Derecho"] %> 
                        <% leftrights.forEach(leftright => { %>
                            <option value=<%= leftright %>  <%= locals.old && old.leftright == leftright ? "selected" : "" %>><%= leftright %> </option>
                        <% }) %>
                    </select>
                </div>
            </div>
            
            <div class="buttons-box-fcm">
                <button type="submit" class="buttons-fcm button-red-fcm">Agregar</button>
            </div>
        </form>
    </main>


    <!-----------------------------------           Footer            ------------------------------------------->
    <%- include('partials/footer.ejs')  %> 
    
</body>
</html>