<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head.ejs')  %> 
<body>
    <% if (session.user && session.user.rol == "admin") { %>                   
        <%- include('partials/adminHeader.ejs')  %>
    <% } else { %>
      <%- include('partials/header.ejs')  %> 
    <% }%>

    <main>
        <!-- Carrousel -->
    <%- include('./partials/carrousel')  %> 
    <!-- Video -->
    <!--Prueba Session-->
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UEcFR4TUtIE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <!-- Secciones a productos -->
    <section class="products">
        <article class="product">
            <div class="Freno">
                <a href="/productos/categoria/escapes"><img src="/images/Home/Caño de escape.jpg" alt=""></a>
                <div class="word">
                    <p>Escapes</p>
                </div>
            </div>
        </article>
        <article class="product">
            <div class="escape">
                <a href="/productos/categoria/frenos"><img src="/images/Home/Frenos.2.jpg" alt=""></a>
                <div class="word">
                    <p>Frenos</p>
                </div>
            </div>
        </article>
        <article class="product">
            <div class="neumatico">
                <a href="/productos/categoria/neumaticos"><img src="/images/Home/Neumaticos.png" alt=""></a>
                <p class="word">Neumáticos</p>
            </div>
        </article>
        <article class="product">
            <div class="volante">
                <a href="/productos/categoria/volantes"><img src="/images/Home/Volante.jpg" alt=""></a>
                <div class="word">
                    <p>Volantes</p>
                </div>
            </div>
        </article>
        <article class="product">
            <div class="motor">
                <a href="/productos/categoria/motores"><img src="/images/Home/motor.jpg" alt=""></a>
                <div class="word">
                    <p>Motores</p>
                </div>
            </div>
        </article>
        <article class="product">
            <div class="interiores">
                <a href="/productos/categoria/interiores"><img src="/images/Home/interiores.jpg" alt=""></a>
                <div class="word">
                    <p>Interiores</p>
                </div>
            </div>
        </article>
    </section>
    <!-- Noticias -->
    <div class="nota">
        <img src="/images/Home/tesla-cybertruck.jpg" alt="">
        <p>El Tesla Cybertruck es la camioneta eléctrica de Tesla, un vehículo revelado recientemente que entrará en producción a finales de 2021 y del que ya se han reportado más de 250.000 reservas desde que fuera oficialmente presentado.</p>
    </div>
    <div class="nota n2">
        <img src="/images/Home/coche-volador-1.jpg" alt="">
        <p>El AirCar, aún en estado de prototipo, se presenta como un automóvil de cuatro ruedas capaz de moverse por tierra. Su transformación en una aeronave requiere solo pulsar un botón y tres minutos. En este tiempo, despliega las alas y la cola para elevarse y proseguir la ruta entre las nubes. </p>
    </div>
</main>
    <%- include('./partials/footer.ejs')  %> 
</body>
</html>