<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head.ejs')  %> 
<body>
    <%- include('partials/adminHeader.ejs')  %> 

        <main class="users-list">
            <div class="search-users">
                <form action="/users/search">
                    <input type="search" placeholder="Busca un usario" name="searchUsers">
                </form>
            </div>
            <% users.forEach(user => { %>
                <section class="users">
                    <div class="usuario">
                        <div class="photo">
                            <img src="/images/users/<%- user.image %> " alt="">
                        </div>
                        <h5><%- user.firstName + " " + user.lastName %></h5>
                        <p>Email:<%- user.email%> </p>
                        <p>ID: <%- user.id %> </p>
                        <div class="user-type">
                            <form action="/adminProductos/editarUsuario/<%- user.id %>?_method=PUT" method="POST">
                                <select name="rol" id="" class="select-userType">
                                    <option <%- user.rol === "user" ? "selected" : "" %> value="user">Usuario</option>
                                    <option <%- user.rol === "admin" ? "selected" : "" %> value="admin">Admin</option>
                                </select>
                                <button type="submit">Editar</button>
                            </form>
                        </div>
                        <form action="/adminProductos/eliminarUsuario/<%- user.id %>?_method=DELETE" method="POST">
                            <button type="submit" onclick="if(!confirm('Desea eliminar el usuario')){return false}">Eliminar</button>
                        </form>
                        
                    </div>
                </section>
            <% }) %>
            
        </main>
     <%- include('partials/footer.ejs')  %> 
</body>
</html>