<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs')  %> 
<body>
    <%- include('partials/header.ejs')  %> 
    <main class="product-main">
        <div class="titular">
            <h3>Motores</h3>
            <div class="tit-des">
                <p>A cambiar en futuro con bases de datos relacionales</p>
            </div>
        </div>
        <div class="bb">
            <!-- Secci칩n de filtro -->
            <section class="list-product">
                <div id="lista">
                    <h4>Categorias</h4>
                    <ul class="ul-product">
                        <li><a href="http://localhost:3000/productos/categoria/freno">Frenos</a></li>
                        <li><a href="http://localhost:3000/productos/categoria/neum치tico">Neumaticos</a></li>
                        <li ><a href="http://localhost:3000/productos/categoria/ca침odeescape">Escapes</a></li>
                        <li><a href="http://localhost:3000/productos/categoria/motor">Motores</a></li>
                        <li><a href="http://localhost:3000/productos/categoria/volante">Volantes</a></li>
                        <li><a href="http://localhost:3000/productos/categoria/interior">Interiores</a></li>
                        <li><a href="http://localhost:3000/productos">Todos los productos</a></li>
                    </ul>
                </div>
            </section>
            <!-- Secci칩n de muestra de productos -->
            <section class="lista-productos">
                <% products.forEach(product => { %>
                    <article class="each-product">
                        <div>
                            <img src="/images/productos/<%- product.img %>" alt="">
                            <h5><%= product.name %></h5>
                            <p class="prod-prod-price"><%= product.price %></p>
                            <a href="http://localhost:3000/productos/<%= product.id %>"><button>Ver producto</button></a>
                        </div>
                    </article>
                    <% }) %>                
                </section>
        </div>
        </main>
        <%- include('partials/footer.ejs')  %> 
</body>
</html>