<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head.ejs')  %> 
<body>
    <!-----------------------------------                Header              ------------------------------------------->
    <%- include('partials/header.ejs')  %> 


    <!-----------------------------------        Deltalle del Producto       ------------------------------------------->
    <main class="main-product">
        
        <h1 class="title-product"><%= producto.name %>  </h1>
        <section class="destacado">
            <article class="photo-n-price">
                <div class="images-container">
                    <div class="thumbnailImages">
                        <% producto.img.forEach(image => { %>
                            <img src="/images/productos/<%- image%>" alt="Imagen de producto" class="smallImg" onclick="myFunction(this);">
                        <% }) %>
                    </div>
                    <div class="mainImage">
                        <img src="/images/productos/<%= producto.img[0]%>" alt="Imagen de producto" class="bigImg" id="expandedImg">
                    </div>
                </div>
               <!--  <div>
                    <img class="img-product" src="/images/productos/<%= producto.img[0] %>" alt="Escape Chevrolet Corsa">
                </div> -->
                <div class="price-purchase">
                    <h3 class="the-price">Precio: <%= producto.price %></h3>
                    <p class="fees">12 cuotas de 1.000</p>
                    <p class="fees">18 cuotas de 800</p>
                    <p class="fees">24 cuotas de 700</p>
                    <div class="credit">
                        <i class="fab fa-cc-visa credit"></i>
                        <i class="fab fa-cc-mastercard credit"></i>
                        <i class="fab fa-cc-amex credit"></i>
                        <i class="fab fa-cc-paypal credit"></i>
                    </div>
                    <div>
                        <span class="fees">Cantidad: </span>
                        <input type="number" value="1" min="0" max="15" class="quantity-field" />
                    </div>
                    
                    <a href="http://localhost:3000/Carrito"><button type="submit" class="button button-purchase">Comprar</button></a>
                    <a href=""><button type="submit" class="button button-add-to-cart">Agregar al Carrito</button></a>
                </div>
            </article>
            <p class="paragraph"><%= producto.description %></p>
            <p class="paragraph"></p>
                <p class="paragraph">Caño de escape y silenciador Chevrolet original, lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque eum inventore error totam consectetur perspiciatis dolore unde! Reiciendis quidem deserunt dignissimos fuga possimus. Odio, asperiores. Dolorum dolorem amet porro quibusdam!</p>
                <p class="paragraph">Máximo rendimiento y potencia con el mayor lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque eum inventore error totam consectetur perspiciatis dolore unde! Reiciendis quidem deserunt dignissimos fuga possimus. Odio, asperiores. Dolorum dolorem amet porro quibusdam! Libero voluptas, tempora reprehenderit praesentium dignissimos eveniet nam ex repellendus animi cupiditate, obcaecati veniam porro itaque dicta eum nostrum magnam expedita debitis. Explicabo delectus quos nulla.</p>
            
            <div class="product-details">
                <img class="img-product-2" src="/images/productos/<%= producto.img[0] %>" alt="Escape Chevrolet Corsa 2">
                <ul class="description-list">
                    <p class="product-caracteristics">Características:</p>
                    <li>Marca:  <%= producto.marca %></li>
                    <li>Modelo: <%- producto.carModel %></li>
                    <li>Material del silenciador:  galvanizado</li>
                    <li>Forma del silenciador:  redondo</li>
                    <li>Largo del silenciador:  121 cm</li>
                    <li>Ancho del silenciador:  30 cm</li>
                    <li>Número de entradas:  1</li>
                    <li>Número de salidas:  1</li>
                    <li>Origen:  Argentina</li>
                </ul>
            </div>
                <!-- <p class="paragraph"> La óptima eliminación de ruídos y contaminantes, harán que el lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia aperiam blanditiis, incidunt, animi aliquid laudantium saepe, culpa vel quis rem ullam? Laboriosam, facilis molestias! Sequi tenetur nam accusantium iusto possimus earum animi vero amet? Libero voluptas, tempora reprehenderit praesentium dignissimos eveniet nam ex repellendus animi cupiditate, obcaecati veniam porro itaque dicta eum nostrum magnam expedita debitis.</p> -->
            
        </section>
        <!-- Sugestions -->
        <h3 class="sugestions"><%= sliderTitle %></h3>
           <!--  <div class="carousel-product">
           
                <% sliderProducts.forEach(productis => { %>
                    <div class="carousel-card">
                        <div class="photo-container">
                            <img class="photo-carousel" src="/images/productos/<%= productis.img %>" alt="Combo óptica Renault 12">
                        </div>
                        <p class="paragraph-card"><%= productis.name %></p>
                        <p class="paragraph-card card-price">$ <%= productis.price %></p>
                        <a class="search-more" href="http://localhost:3000/productos/<%= productis.id %>"><button>Ver producto</button></a>
                        <form action="" method="post">
                            <button type="submit" class="button button-purchase">Ver más</button>
                        </form>
                    </div>
                <% }) %>
            </div> -->
            <div>               <!--             Prueba         -->
                <!-- <% sliderProducts.forEach(prod => { %>
                    <div class="carousel-cell  productSlide">
                        <a href="/producto/productoDetalle/<%= prod.id %>">
                            <div class="productDiscount"><%- prod.discount %>% OFF</div>
                            <img src="/images/productos/<%- prod.img %>" alt="">
                            <p class="productName"><%- prod.name %></p>
                            <h4 class="productPrice">$<%- prod.price %></h4>
                        </a>
                    </div>
                <% }) %>
     -->
            </div>

    </main>

    <!-- /* Slider */ -->  
    <%- include('partials/slider.ejs') %>
    <!-----------------------------------           Footer            ------------------------------------------->
    <%- include('partials/footer.ejs')  %> 

    <!-- JavaScript -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="/javascripts/product-slider.js"></script>
    <script src="/javascripts/productoDetalle.js"></script>
    
</body>
</html>