<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs')  %> 
<body>
    <% if (session.user && session.user.rol == "admin") { %>                   
        <%- include('partials/adminHeader.ejs')  %>
    <% } else { %>
      <%- include('partials/header.ejs')  %> 
    <% }%>
    <main class="product-main">
        <div class="titular">
            <% if (n) { %>
                <h3><%- category.name %> </h3>
            <% }else { %> 
                <h3>Todos nuestros productos</h3>
            <% } %>
             
            <div class="tit-des">
                <p>A cambiar en futuro con bases de datos relacionales</p>
            </div>
        </div>
        <div class="bb">
            <!-- Sección de filtro -->
            <section class="list-product">
                <div id="lista">
                    <h4>Categorias</h4>
                    <ul class="ul-product">
                        <li><a href="/productos/categoria/frenos">Frenos</a></li>
                        <li><a href="/productos/categoria/neumaticos">Neumaticos</a></li>
                        <li ><a href="/productos/categoria/escapes">Escapes</a></li>
                        <li><a href="/productos/categoria/motores">Motores</a></li>
                        <li><a href="/productos/categoria/volantes">Volantes</a></li>
                        <li><a href="/productos/categoria/interiores">Interiores</a></li>
                        <li><a href="/productos">Todos los productos</a></li>
                    </ul>
                </div>
            </section>
            <!-- Sección de muestra de productos -->
            <section class="lista-productos">
                <% products.forEach(product => { %>
                    <article class="each-product">
                        <div>
                            <img src="/images/productos/<%- product.images[0].name %>" alt="">
                            <h5><%= product.name %></h5>
                            <p class="prod-prod-price">$ <%= product.price %></p>
                            <a href="/productos/<%= product.id %>"><button>Ver producto</button></a>
                        </div>
                    </article>
                    <% }) %>                
                </section>
        </div>
        </main>
        <%- include('partials/footer.ejs')  %> 
</body>
</html>