<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head.ejs')  %> 
<body>
    <!-----------------------------------                Header              ------------------------------------------->
    <%- include('partials/header.ejs')  %> 


    <!-----------------------------------        Deltalle del Producto       ------------------------------------------->
    <main class="main-product">
        
        <h1 class="title-product"><%= producto.name %>  </h1>
        <section class="destacado">
            <article class="photo-n-price">
                <div class="images-container">
                    <div class="thumbnailImages">
                        <% producto.img.forEach(image => { %>
                            <img src="/images/productos/<%- image%>" alt="Imagen de producto" class="smallImg" onclick="myFunction(this);">
                        <% }) %>
                    </div>
                    <div class="mainImage">
                        <img src="/images/productos/<%= producto.img[0]%>" alt="Imagen de producto" class="bigImg" id="expandedImg">
                    </div>
                </div>

                <div class="price-purchase">
                    <h3 class="the-price">Precio: <%= producto.price %></h3>
                    <p class="fees">12 cuotas de <%= Math.round(producto.price / 12 * 100) / 100 %></p>
                    <p class="fees">18 cuotas de <%= Math.round(producto.price / 18 * 100) / 100 %></p>
                    <p class="fees">24 cuotas de <%= Math.round(producto.price / 24 * 100) / 100 %></p>
                    <div class="credit">
                        <i class="fab fa-cc-visa credit"></i>
                        <i class="fab fa-cc-mastercard credit"></i>
                        <i class="fab fa-cc-amex credit"></i>
                        <i class="fab fa-cc-paypal credit"></i>
                    </div>
                    <div>
                        <span class="fees">Cantidad: </span>
                        <input type="number" value="1" min="0" max="15" class="quantity-field" />
                    </div>
                    
                    <a href="/Productos/Carrito"><button type="submit" class="button button-purchase">Comprar</button></a>
                    <a href="/Productos"><button type="submit" class="button button-add-to-cart">Agregar al Carrito</button></a>
                </div>
            </article>
            <% texto.forEach(parrafo => { %>
                <p class="paragraph"><%- parrafo %> </p>
            <% }) %>                                            <!-- Muestra los párrafos separdos previamente con let texto = producto.description.split('\r\n') -->
            <div class="product-details">
                <img class="img-product-2" src="/images/productos/<%= producto.img[0] %>" alt="Escape Chevrolet Corsa 2">
                <ul class="description-list">
                    <p class="product-caracteristics">Características:</p>
                    <li>Nombre:  <%= producto.name %></li>
                    <li>Marca:  <%= producto.brand %></li>
                    <li>Modelo: <%- producto.carModel %></li>
                    <li>Año: <%- producto.year %></li>
                    <% if (producto.frontback != "no") { %>
                        <li>Tipo: <%= producto.frontback %></li>
                    <% } %>
                    <% if (producto.leftright != "no") { %>
                        <li>Lado: <%= producto.leftright %> </li>
                    <% } %>
                    <% if (producto.color != "no") { %>
                        <li>Color: <%= producto.color %> </li>
                    <% } %>
                    
                </ul>
            </div>
          
        </section>
        <!-- Sugestions -->
        <h3 class="sugestions"><%= sliderTitle %></h3>
         
    </main>

    <!-- /* Slider */ -->  
    <%- include('partials/slider.ejs') %>
    <!-----------------------------------           Footer            ------------------------------------------->
    <%- include('partials/footer.ejs')  %> 

    <!-- JavaScript -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="/javascripts/product-slider.js"></script>
    <script src="/javascripts/productoDetalle.js"></script>
    
</body>
</html>