<!DOCTYPE html>
<html lang="es">
   <%- include('partials/head.ejs')  %> 
<body class="register-body">
    <header>
        
        <!-- Container izquierdo -->
        <div class="left-container">
            <a href="/"><img src="/images/header/Logo.jpeg" alt="Logo"></a>
            
        </div>
    </header>
    
    <main class="register-main">
        <form action="/users/register" method="POST"
        enctype="multipart/form-data" >
            <div class="container">
                <h1>Registro</h1>
                <hr>
            
                
                
                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Ingrese su Email" name="email" id="email" required>
                <% if (locals.errors && errors.email) { %>
                    <small class="texto invalido"><%= errors.email.msg %> </small>
                <% } %>
                <label for="psw"><b>Contrase単a</b></label>
                <input type="password" placeholder="Ingrese su Contrase単a" name="psw"  >
                <% if (locals.errors && errors.psw) { %>
                    <small class="small"><%= errors.psw.msg %> </small>
                <% } %>
                
                <label for="psw-repeat"><b>Repita su Contrase単a</b></label>
                <input type="password" placeholder="Repita su Contrase単a" name="psw1" id="psw1" >
                <% if (locals.errors && errors.psw1) { %>
                    <small class="small"><%= errors.psw1.msg %> </small>
                <% } %>
                
                <hr>
                
                <button  type="submit" class="register">Registrarse</button>
                
                
            </div>
            
        </form>
        
    </main>
    
    <%- include('partials/footer.ejs')  %> 
    
    
    
</body>
</html>