<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/header.ejs')  %> 
    <main class="product-main">
        <div class="titular">
            <h3>Motores</h3>
            <div class="tit-des">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates autem porro earum dicta suscipit libero quam nemo labore.</p>
            </div>
        </div>
        <div class="bb">
            <!-- Sección de filtro -->
            <section class="list-product">
                <div id="lista">
                    <h4>Categorias</h4>
                    <ul class="ul-product">
                        <li><a href="">Frenos</a></li>
                        <li><a href="">Neumaticos</a></li>
                        <li ><a href="">Escapes</a></li>
                        <li><a href="">Motores</a></li>
                        <li><a href="">Volantes</a></li>
                        <li><a href="">Interiores</a></li>
                    </ul>
                </div>
            </section>
            <!-- Sección de muestra de productos -->
            <section class="lista-productos">
                <% products.forEach(product => { %>
                    <article class="each-product">
                        <div>
                            <img src="/images/productos/<%- product.img %>" alt="">
                            <h5><%= product.name %></h5>
                            <p class="prod-prod-price"><%= product.price %></p>
                            <a href="http://localhost:3000/productos/<%= product.id %>"><button>Ver producto</button></a>
                        </div>
                    </article>
                    <% }) %>                
                </section>
            </div>
        </main>
        <%- include('./partials/footer.ejs')  %> 
</body>
</html>